{% extends "index.html" %}
{% block content %}

<h3>
  categories {{ term.name }}
  ({{ term.pages | length }} post{{ term.pages | length | pluralize }})
</h3>

<ul>
  {% for post in term.pages %}
    <li>
      {{ post.date | date(format="%Y.%m.%d") }}
      :: <a href="{{ post.permalink }}">{{ post.title }}</a>
      {% for cat in post.taxonomies["categories"] %}
        {%- set _cat = get_taxonomy_url(kind="categories", name=cat) -%}
                        {%- if loop.last -%}
                            <a href="{{ _cat }}">{{ cat }}</a>
                        {%- else -%}
                            <a href="{{ _cat }}">{{ cat }}</a>,&nbsp;
                        {%- endif -%}
      {% endfor %}
    </li>
  {% endfor %}
</ul>
<br />
<nav class="navbarBlog">
  <a href="/blog">Back to Blog Listing</a>
</nav>

{% endblock content %}