---
import BaseLayout from '../layouts/BaseLayout.astro'
const pageTitle = "jeff-mitchell.dev | Blog "
---
<BaseLayout pageTitle={pageTitle}>
  <main>
    <section>
      <h3>Blog</h3>
      <article>
		<p>Blog posts go here.</p>
      </article>
    </section>
  </main> 
</BaseLayout>