---
import BaseLayout from '../layouts/BaseLayout.astro'
const pageTitle = "jeff-mitchell.dev | Home"
---
<BaseLayout pageTitle={pageTitle}>
  <main>
    <section>
      <h3>Welcome!</h3>
      <article>
        <p>This is my dev profile site.</p>
      </article>
    </section>
  </main> 
</BaseLayout>