---
import BaseLayout from '../layouts/BaseLayout.astro'
const pageTitle = "jeff-mitchell.dev | Resources"
---
<BaseLayout pageTitle={pageTitle}>
  <main>
    <section>
      <h3>Resources</h3>
      <article>
				<p>This is the resources page.</p>
      </article>
    </section>
  </main> 
</BaseLayout>