---
---
<footer>
  <p>&copy; Jeffery D. Mitchell | Built with <a href="https://astro.build" target="_blank" rel="noreferrer">Astro</a> | Hosted on <a href="https://netlify.com" target="_blank" rel="noreferrer">Netlify</a></p>
</footer>