---
---
<nav>
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/blog">Blog</a>
  <a href="/projects">Projects</a>
  <a href="/resources">Resources</a>
  <a href="https://github.com/sentinel1909" target="_blank" rel="noreferrer">GitHub</a>
  <a href="https://query.rs" target="_blank" rel="noreferrer">query.rs</a>
</nav>