<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="A site mostly about Rust...mostly...">
  <meta name="keywords" content="Rust">
  <meta name="author" content="Jeff Mitchell">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="{{ get_url(path="favicon.png") }}" />
  <link rel="stylesheet" type="text/css" href="{{ get_url(path="screen.css") }}" media="screen" />
  <title>{{ "jeff-mitchell.dev" }}{% if section is defined and section.title is defined %} | {{ section.title }} {% endif %}{% if page is defined and page.title is defined %} | Blog Posts | {{ page.title }}{% endif %}</title>
</head>
<body>
  <div class="wrapper">
    <header>
      <div class="hamburger">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
      <h1>jeff-mitchell.dev</h1>
      <h2>mostly mis-adventures with programming languages...mostly...</h2>
      <img src="{{ get_url(path="jeff-mitchell-dev-logo.png") }}" />
    </header>
    <nav class="navbar">
      <ul class="navbarItems">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/projects">Projects</a></li> 
        <li><a href="/resources">Resources</a></li> 
        <li><a href="/contact">Contact</a></li>
        <li><a href="/atom.xml">RSS</a></li>
        <li><a href="https://github.com/sentinel1909" target="_blank" rel="noreferrer">GitHub</a></li> 
        <li><a href="https://query.rs" target="_blank" rel="noreferrer">query.rs</a></li>
      </ul>
    </nav>
    <main class="markdown">
      {% block content %} {% endblock %}
    </main>
    <footer>
      <p>&copy; Jeffery D. Mitchell | All Rights Reserved | Built with <a href="https://getzola.org" target="_blank" rel="noreferrer">Zola</a> | Hosted on <a href="https://pages.cloudflare.com" target="_blank" rel="noreferrer">Cloudflare Pages</a> | This site is inspired by the work of <a href="https://taniarascia.com" target="_blank" rel="noreferrer">Tania Rascia</a> | Follow me on <a href="https://bsky.app/profile/sentinel1909.bsky.social">Bluesky</a></p> 
    </footer>
  </div>
  <script src="{{ get_url(path="scripts.js") }}"></script>
  <script type="text/javascript" src="{{ get_url(path="elasticlunr.min.js") }}"></script>
  <script type="text/javascript" src="{{ get_url(path="search.js") }}"></script>
  <noscript>There is a small amount of JavaScript to embelish aspects of this page.</noscript>
</body>
</html>