{% extends "base.html" %}

{% block content %}
<h3>  
  {{ section.title }}
</h3>
<nav>
  <ul>
    <li><a href="/categories">Categories</a></li>
    <Li><a href="/tags">Tags</a></Li>
  </ul>
</nav>
{{ section.content | safe }}
<ul>
  {% for page in paginator.pages %} 
  <li>
    {{ page.title }}
    {{ page.description | safe }}
    { Word Count: {{ page.word_count }} words | Reading Time: {% if
      page.reading_time >= 2 %} {{ page.reading_time }} minutes {% else %} {{
      page.reading_time }} minute {% endif %} }
    <a href="{{ page.permalink }}">Read more...</a>
  </li>
  {% endfor %}
</ul>
<nav>
  {% if paginator.previous %}
    <a href="{{ paginator.previous }}">Previous</a>
  {% endif %}
  {% if paginator.next %}
    <a href="{{ paginator.next }}">Next</a>
  {% endif %}
</nav>
{% endblock content %}